[Unit]
Description=GitHub Actions Runner (g-sathish09.ip-172-31-83-166)
After=network.target

[Service]
ExecStart=/actions-runner/run.sh
User=github-runner
WorkingDirectory=/actions-runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
